body
{
  background-color: #F5F5F5;
}
hr
{
  border-top: 10px dotted #32a1ce;
  border-right: none;
  border-left: none;
  border-bottom: none;
  width: 30%;
}
img {
  border-radius: 50%;
}
.mysign
{
  font-family: 'Sacramento', cursive;
  font-size: 300%;
}
.mysign_p
{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 200%;
}
.midinfo
{
  text-align: center;
}
.mytable
{
  margin-left: auto;
  margin-right: auto;
}
ul {
    width: 20%;
    margin: auto;
}
ol {
    width: 10%;
    margin: auto;
}
